<head>
  <style>

body {
  color: #red;
}

h1 {
  font-family: arial;
  font-size: 75px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  line-height: 2.5em;
  color: #blue;
  background-color: black;
}

body {
  font-family: times;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: .04em;
  color: #pink;
  background-color: black;
}

    </style>
</head>
