<head>
  <style>

 h1 {
   text-display: inline-block;
   color: pink;
   text-align: center;
   font-size: 75px;
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 60px;
   margin-right: 60px;
   font-weight: normal;
}

    body {
    	text-align: center; 
    	color: blue;
    }

    </style>
</head>
